:root{
    --border-width: 2px
}

.cell {
    border-style: solid;
    border-collapse: collapse;
    width: 75px;
    height: 75px;
    text-align: center;
    align-content: center;
    margin-right: calc(-1*var(--border-width));
    margin-bottom: calc(-1*var(--border-width));
    border-width: var(--border-width);
    caret-color: transparent;
    font-size: 35px;
}

.cell:hover{
    background-color: gainsboro;
}

.turn-counter{
    text-align: center;
}
.game {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px;
    justify-self: center;
}